.instagram-container {
    cursor: pointer;
}
#instagram:hover {
    animation: shake 1.5s cubic-bezier(.36,.07,.19,.97);
    animation-iteration-count: infinite;
}
.logo {
    height: 4rem;
    pointer-events: none;
}
.app-header {
    background-color: theme('colors.primary');
    display: flex;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-2px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}
